{% extends 'MusicStudio/base.html' %}
{% load static  %}

{% block css_load %}
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="{% static "css/concerts.css"%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
{% endblock css_load %}

{% block main %}
    <div class="main">
        {% for concert in concerts %}
            <div class="concert">
                <div class="concert-name">
                    <p>{{ concert.name }}</p>
                </div>
                <div class="concert-video">
                    <div>
                        <iframe width="560" height="315" src="{{ concert.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="separation">
                </div>
                <div class="concert-photos">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for photo in concert.photos.all|slice:":4" %}
                                <div class="swiper-slide">
                                    <img src="{{ photo.src.url }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                
                </div>
                <div class="button">
                    <div>
                        <a href="{% url 'gallery' concert.pk %}">
                            <button class="groups-button">
                                Все фотогрифии
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}


{% block js_load %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static "js/concert.js" %}" ></script>
{% endblock js_load %}
