{% extends 'MusicStudio/base.html' %}
{% load static  %}

{% block css_load %}
    <link rel="stylesheet" href="{% static "css/contacts.css"%}">
    <link rel="stylesheet" href="{% static "css/group.css"%}">
{% endblock css_load %}


{% block main %}
    <div class="main">
        <div class="teachers-page-title">
            Преподаватели
        </div>
        <div class="teachers">
            {% for teacher in teachers %}
                <a href="{% url 'teacher' teacher.pk %}">
                    <div class="member"  style="background-image: url(
                        {% if teacher.main_photo %}
                            {{ teacher.main_photo.src.url }}
                        {% else %}
                            {{ placeholder.src.url }}
                        {% endif %}
                    )">
                        <div class="filter-layer">
                                
                        </div> 
                        <div class="member-name">
                            <p> {{ teacher.surname }} <br> {{ teacher.name }} {{ teacher.middle_name }}</p>
                        </div>
                        <p class="experience">Педагог по: </p>
                        {% for instrument in teacher.instruments.all %}
                            <div class="member-instrument">
                                <p>{{ instrument.name }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block js_load %}
    <script src="{% static "js/contacts.js" %}" ></script>
{% endblock js_load %}

