{% extends 'MusicStudio/base.html' %}
{% load static  %}

{% block css_load %}
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="{% static "css/groups.css"%}">
    <link rel="stylesheet" href="{% static "adaptive-css/groups-adaptive.css"%}">
{% endblock css_load %}

{% block  main %}
    <div class="main">
        {% for group in groups %}
            <div class="group" style="background-image: url(
            {% if group.main_photo %}
                {{ group.main_photo.src.url }}
            {% else %}
                https://placehold.co/600x400?text=Image
            {% endif %})">
                <div class="filter-layer" groupId = "{{ group.pk }}"></div>
                <p>{{ group.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock main %}


{% block js_load %}
    <script src="{% static "js/groups.js" %}" ></script>
{% endblock js_load %}

