{% extends 'MusicStudio/base.html' %}
{% load static  %}

{% block css_load %}
    <link rel="stylesheet" href="{% static "css/group.css"%}">
{% endblock css_load %}

{% block main %}
    <div class="main">
        <div class="group-pic">
            <div class="filter-layer">
            </div>
            <img src="
                {% if group.main_photo %}
                    {{ group.main_photo.src.url }}
                {% else %}
                    https://placehold.co/600x400?text=Image
                {% endif %}
            " 
            alt="" style="width: 100%">
            <div class="group-text">
                <a href="{% url 'groups'%}">
                    <img src="{% static "img/arrow-down-sign-to-navigate.png"%}" id = "back-button" alt="">
                </a>
                <p>{{ group.name }}</p>
            </div>
        </div>
        <div class="group-page-title">
            Участники группы
        </div>
        <div class="members">
            {% for member in members %}

            <div class="member"  style="background-image: url(
                {% if member.main_photo %}
                    {{ member.main_photo.src.url }}
                {% else %}
                    {{ placeholder.src.url }}
                {% endif %}
            )">
                <div class="filter-layer">
                    
                </div> 
                <div class="member-name">
                    <p> {{ member.name }} <br> {{ member.surname }} ({{ member.grade.name }})</p>
                </div>
                {% for instrument in member.instruments.all %}
                    <div class="member-instrument">
                        <p>{{ instrument.name }}</p>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="group-page-title">
            Репертуар
        </div>
        <div class="repertoire">
            <div> 
                <table class="repertoire-table">
                    <tr>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Жанр</th>
                        <th>Длительность</th>
                    </tr>
                    {% if songs %}
                        {% for song in songs %}
                        <tr>
                            <td>{{ song.name }}</td>
                            <td>{{ song.author }}</td>
                            <td>{{ song.genre.name }}</td>
                            <td>{{ song.time|date:"i:s"}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js_load %}
    <script src="{% static "js/group.js" %}" ></script>
{% endblock js_load %}
