<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="{% static "css/groups.css"%}">
    <title>Все Группы</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <div class="logo-wrapper">
                <img src="{% static "img/Logo.png"%}" alt="" >
            </div>
            <p>Рок-Студия Павловской Гимназии</p>
        </div>
        <div class="nav">
            <div class="link-wrapper">
                <div class="link">
                    Главная
                </div>
                <div class="link">
                    Группы
                </div>
                <div class="link">
                    Концерты
                </div>
                <div class="link">
                    Контакты
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        {% for group in groups %}
            <div class="group" style="background-image: url('{% static 'img/descriptionPhotojpg.jpg'%}')">
                <div class="filter-layer"></div>
                <p>{{ group.name }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="logo">
                <div class="logo-wrapper">
                    <img src="{% static "img/Logo.png"%}" alt="" >
                </div>
                <p>Рок-Студия Павловской Гимназии</p>
            </div>
            <div class="footer-links">
                <div class="footer-link-wrapper">
                    <div class="footer-link">
                        Главная
                    </div>
                    <div class="footer-link">
                        Группы
                    </div>
                    <div class="footer-link">
                        Концерты
                    </div>
                    <div class="footer-link">
                        Контакты
                    </div>
            </div>
        </div>
        <div class="footer-info">
        </div>
    </div>
</body>
</html>