{% extends 'MusicStudio/base.html' %}
{% load static  %}

{% block css_load %}
    <link rel='stylesheet' href="{% static "css/style.css"%}">
    <link rel='stylesheet' href="{% static "adaptive-css/index-adaptive.css"%}">
{% endblock css_load %}

{% block main %}
    <div class="header-page">
        <div class="header-content">
            <div class="tagline">
                <p>Сделаем из каждого настоящую рок-звезду</p>
            </div>
            <div class="underTag">
                <p>Здесь ты сможешь сыграть на любом музыкальном инструменте, стать участником Рок-группы, а также выступить на большой сцене</p>
            </div>
        </div>
    </div>
    <div class="about-us">
            <div class="about-us-title">
                <p>Наша студия</p>
            </div>
        <div class="about-us-photo">
            <img src="{% static "img/GalleryPrint3.jpg"%}" alt="">
        </div>
        <div class="about-us-text">
            <div class="about-us-title">
                <p>Наша студия</p>
            </div>
            <div class="about-us-maintext">
                <p>
                    Многие подростки мечтают стать рок-звездами и петь в собственной группе. Мы поможем им сделать шаг к своей мечте! На занятиях ученики изучают основы композиции, осваивают приемы построения музыкального произведения, получают навыки исполнительского мастерства. На репетициях дети растут как артисты и авторы, у них развиваются музыкальные навыки, слух и моторика.
                </p>
            </div>
        </div>
    </div>
    <div class="groups">
        <div class="about-us-text">
            <div class="about-us-title">
                <p>Лучшая студия</p>
            </div>
            <div class="about-us-maintext">
                <p>
                    ​​Дети не только играют в группе, перепевая известные хиты, но и учатся писать музыку, тексты и выступать с ними на сцене.
                </p>
                <p>
                    Занятия в рок-студии могут посещать учащиеся с 5 по 11 классы. В приоритете дети, которые в начальной школе посещали занятия игры на музыкальных инструментах и вокала, и те, кто горит желанием выступать на сцене.
                </p>
            </div>
            <a href="{% url 'groups'%}">
                <button class="groups-button">
                Все группы
                </button>
            </a>
        </div>
        <div class="groups-photo">
            <div class="groups-photo-line">
                <div>
                    <img src="{% static "img/GalleryPrint5.jpg"%}" alt="" style="width: 15vw">
                </div>
                <div>
                    <img src="{% static "img/GalleryPrint4.jpg"%}" alt="" style="width: 23vw">
                </div>
            </div>
            <div class="groups-photo-line">
                <div>
                    <img src="{% static "img/GalleryPrint1.jpg"%}" alt="" style="width: 20vw">
                </div>
                <div>
                    <img src="{% static "img/GalleryPrint2.jpg"%}" alt="" style="width: 17vw">
                </div>
            </div>
        </div>
        <a href="{% url 'groups'%}">
            <button class="groups-button">
            Все группы
            </button>
        </a>
    </div>
{% endblock main %}