{% extends 'MusicStudio/base.html' %}
{% load static %}

{% block css_load %}
    <link rel="stylesheet" href="{% static "css/teacher.css" %}">
{% endblock css_load %}

{% block main %}
    <div class="main">
        <div class="teacher-photo">
            <img src="{{ teacher.main_photo.src.url }}" alt="">
        </div>
        <div class="teacher-info">

        </div>
    </div>
{% endblock main %}

{% block ls_load %}
    <script src="{% static "js/teacher.js" %}"></script>
{% endblock ls_load %}



