*{
    font-family: 'Unbounded', cursive;
}
.header{
    background-color: rgb(18, 18, 18);
}
.concert-name{
    display: flex;
    justify-content: center;
    font-size: 37px;
    margin-top: 30px;
}
.concert-video{
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
.swiper {
    width: 80vw;
    height: 350px;
}
.swiper-slide{
    display: flex !important;
    justify-content: center;
}
.swiper-slide img{
    border-radius: 10px;
}
.concert-photos{
    position: relative;
    padding: 40px;
}
.separation{
    width: 45vw;
    height: 1px;
    background-color: rgb(199, 199, 199);
    margin: auto;
    margin-top: 50px ;
    margin-bottom: 30px;
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}