*{
    font-family: 'Unbounded', cursive;
}
.header{
    background: rgb(22,52,255);
    background: linear-gradient(180deg, rgba(22,52,255,1) 30%, rgba(121,138,255,1) 80%, rgba(255,255,255,1) 100%);
}